@import './_variables';

h1 {
  font-family: $main;
  color: white;
}

.button {
  border-radius: 10px;
  font-family: $main;
  color: white;
  border: none;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  font-family: $main;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}