<div class="home-container">
  <h1>Who's Who?</h1>

  <a class="button" routerLink="/game-setup" routerLinkActive="active" ariaCurrentWhenActive="page">Lets Play!</a>

  <div class="home-container_background">
    <img class="taylor" src="../../assets/taylor.svg" />
    <img class="beatles" src="../../assets/beatles.svg" />
    <img class="drake" src="../../assets/drake.svg" />
    <img class="bruno" src="../../assets/bruno.svg" />
    <img class="lizzo" src="../../assets/lizzo.svg" />
  </div>
</div>
