@import '../../styles/_variables.scss';
@import '../../styles/global-styles.scss';

.home-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 128px;
    text-align: center;
  }

  .button {
    background-color: $blue;
    width: 200px;
    height: 100px;
    text-decoration: none;
    z-index: 100;
  }

  &_background {
    img {
      position: absolute;
      bottom: 0;
      height: auto;
      width: auto;
    }

    .taylor {
      animation: fadeIn 2s, 1s ease-out 0s 1 slideInFromLeft;
      left: 0;
    }

    .beatles {
      animation: fadeIn 2s, 1.25s ease-out 0s 1 slideInFromBottom;
      left: 0;
    }

    .drake {
      right: 30%;
      z-index: 22;
      animation: fadeIn 2s, 0.75s ease-out 0s 1 slideInFromBottom;
    }

    .lizzo {
      right: 0;
      animation: fadeIn 2s, 0.75s ease-out 0s 1 slideInFromRight;
    }

    .bruno {
      right: 10%;
      z-index: 5;
      animation: fadeIn 2s, 1s ease-out 0s 1 slideInFromBottom;
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
